<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
 
    <Appenders>
        <File name="fileLogger1" fileName="${basePath}/ProjectLogs1.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
        </File>
		<File name="fileLogger2" fileName="${basePath}/ProjectLogs2.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
        </File>
		<File name="fileLogger3" fileName="${basePath}/ProjectLogs3.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
        </File>
		<File name="fileLogger4" fileName="${basePath}/ProjectLogs4.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
        </File>
		<File name="fileLogger5" fileName="${basePath}/ProjectLogs5.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="emptyFilePath" level="error" additivity="true">
            <appender-ref ref="fileLogger1"/>
        </Logger>
		<Logger name="figureNotFound" level="error" additivity="true">
            <appender-ref ref="fileLogger5"/>
        </Logger>
		<Logger name="readingFromFileException" level="error" additivity="true">
            <appender-ref ref="fileLogger4"/>
        </Logger>
        <Logger name="by.training.epam.action.BallActionImpl" level="info" additivity="true">
            <appender-ref ref="fileLogger2"/>
        </Logger>
		<Logger name="parseError" level="info" additivity="true">
            <appender-ref ref="fileLogger3"/>
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>